<p>
  Please register with a username and password
</p>
<form name="registrationForm" class="needs-validation" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidation>
  <div class="form-row">
    <div class="col-12">
      <label for="username">Username</label>
      <input id="username" class="form-control" [(ngModel)]="username" type="text" required
        name="username" #usernameModel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && usernameModel.invalid }" />
      <div *ngIf="f.submitted && usernameModel.invalid" class="invalid-feedback">
        <div *ngIf="usernameModel.errors.required">Please enter a username</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <label for="password">Password</label>
      <input class="form-control" [(ngModel)]="password" type="password" required
        name="password" validateEqual="repeat" #passwordModel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passwordModel.invalid }" />
      <div *ngIf="f.submitted && passwordModel.invalid" class="invalid-feedback">
        <div *ngIf="passwordModel.errors.required">Please enter a password</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <label for="repeat">Repeat</label>
      <input id="repeat" class="form-control" [(ngModel)]="repeat" type="password" required
        name="repeat" validateEqual="password" #repeatModel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && repeatModel.invalid }" />
      <div *ngIf="f.submitted && repeatModel.invalid" class="invalid-feedback">
        <div *ngIf="repeatModel.errors.required">Please repeat the password</div>
        <div *ngIf="repeatModel.errors.validateEqual">
          The passwords must match
        </div>
      </div>
  
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Login Buttons">
    <button class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </div>
</form>
