
<form name="loginForm" class="needs-validation" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidation>
  <div class="form-row">
    <p>
      Please login with your username and password
    </p>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <label for="username">Username</label>
      <input id="username" class="form-control" [(ngModel)]="username" type="text" required
        name="username" #usernameModel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && usernameModel.invalid }" />
      <div *ngIf="f.submitted && usernameModel.invalid" class="invalid-feedback">
        <div *ngIf="usernameModel.errors.required">Please enter a username</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <label for="password">Password</label>
      <input class="form-control" [(ngModel)]="password" type="password" required
        name="password" #passwordModel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passwordModel.invalid }" />
      <div *ngIf="f.submitted && passwordModel.invalid" class="invalid-feedback">
        <div *ngIf="passwordModel.errors.required">Please enter a password</div>
      </div>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Login">
      <button class="btn btn-primary">Login</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
  </div>
</form>
