<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-faded navbar-expand-sm">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
  </ul>
  <ul [hidden]="loggedOn" class="navbar-nav ml-auto">
    <li><a routerLink="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <!-- <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
  </ul>
  <ul [hidden]="!loggedOn" class="navbar-nav ml-auto">
      <li>{{username}}&nbsp;</li>
      <li><a routerLink="/login" (click)="auth.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
</nav>
<hr/>
<div [hidden]="!loading" class="loader">
  <h2>Loading...</h2>
</div>
<div [hidden]="loading" class="router-output">
  <router-outlet></router-outlet>
</div>

